.contact {
  &__content {
    padding: 20px;
    &__header-text {
      display: inline-block;
      color: var(--selected-theme-sub-text-color);
      font-size: 22px;
      font-weight: 600;
      line-height: 1rem;
      letter-spacing: 0.5px;
      position: relative;
      text-transform: uppercase;
      padding: 5px 10px;
      border-bottom: 2px solid var(--selected-theme-main-color);
    }

    &__header-text::before,
    &__header-text::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 5px;
      background-color: var(--selected-theme-main-color);
      bottom: -1px;
    }

    &__header-text::before {
      left: 0;
    }

    &__header-text::after {
      right: 0;
    }

    &__form {
      margin-top: 30px;

      &__controlsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-bottom: 30px;

        div {
          position: relative;
          padding: 20px 0;
          width: 350px;
          max-width: 100%;

          .inputName,
          .inputEmail,
          .description {
            width: 100%;
            border: 2px solid var(--selected-theme-main-color);
            padding: 10px 0;
            // transition: all 0.5s ease;
            // position: relative;
            // z-index: 1;
            background: transparent;
            color: var(--selected-theme-main-color);
          }

          .emailLabel,
          .nameLabel,
          .descriptionLabel {
            position: absolute;
            font-weight: 500;
            top: 0px;
            left: 0px;
            // z-index: 0;
            pointer-events: none;
            transform: translateY(30px);
            transition: all 0.2s ease-in-out;
            color: var(--selected-theme-main-color);
            font-size: 18px;
          }

          .inputName:focus,
          .inputEmail:focus,
          .description:focus,
          .inputName:valid,
          .inputEmail:valid,
          .description:valid {
            outline: none;
            border-bottom-color: var(--selected-theme-main-color);
          }

          .inputName:focus + .nameLabel,
          .description:focus + .descriptionLabel,
          .inputEmail:focus + .emailLabel,
          .inputName:valid + .nameLabel,
          .description:valid + .descriptionLabel,
          .inputEmail:valid + .emailLabel {
            font-size: 19px;
            top: -10px;
            left: 0px;
            transform: translateY(0);
          }
        }
      }

      button {
        cursor: pointer;
        padding: 10px 70px;
        font-size: 2rem;
        background-color: transparent;
        color: var(--selected-theme-main-color);
        border: 1.5px solid var(--selected-theme-main-color);
        border-radius: 4px;
        font-weight: 500;

        &:hover {
          color: #000000;
          background: var(--selected-theme-main-color);
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .contact__content__form {
    text-align: center;
    &__controlsWrapper {
      grid-template-columns: repeat(1, 1fr);
      gap: 45px;
    }
  }
}
